In [ ]:
import pandas as pd

df_Buses = pd.DataFrame({
    'id': [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0]
})
df_Buses['BusID'] = df_Buses['id'].astype(int)
df_Buses['Bus name'] = pd.NA
df_Buses['voltage'] = pd.NA
df_Buses['RegionName'] = pd.NA
df_Buses['color'] = pd.NA
df_Buses['x'] = pd.NA
df_Buses['y'] = pd.NA

df_Buses.to_csv('./Case14/Buses.csv', index=False)
df_Buses

      id  BusID Bus name voltage RegionName color
0    1.0      1     <NA>    <NA>       <NA>  <NA>
1    2.0      2     <NA>    <NA>       <NA>  <NA>
2    3.0      3     <NA>    <NA>       <NA>  <NA>
3    4.0      4     <NA>    <NA>       <NA>  <NA>
4    5.0      5     <NA>    <NA>       <NA>  <NA>
5    6.0      6     <NA>    <NA>       <NA>  <NA>
6    7.0      7     <NA>    <NA>       <NA>  <NA>
7    8.0      8     <NA>    <NA>       <NA>  <NA>
8    9.0      9     <NA>    <NA>       <NA>  <NA>
9   10.0     10     <NA>    <NA>       <NA>  <NA>
10  11.0     11     <NA>    <NA>       <NA>  <NA>
11  12.0     12     <NA>    <NA>       <NA>  <NA>
12  13.0     13     <NA>    <NA>       <NA>  <NA>
13  14.0     14     <NA>    <NA>       <NA>  <NA>

In [3]:
df_Units = pd.DataFrame(
    [[1.0, 1.0, 0.0, 0.0860585198, 20.0, 332.4, 0.0],
     [2.0, 2.0, 0.0, 0.5, 20.0, 140.0, 0.0],
     [3.0, 3.0, 0.0, 0.02, 40.0, 100.0, 0.0],
     [4.0, 6.0, 0.0, 0.02, 40.0, 100.0, 0.0],
     [5.0, 8.0, 0.0, 0.02, 40.0, 100.0, 0.0]],
    columns=['id', 'bus_id', 'mc_a', 'mc_b', 'mc_c', 'p_max', 'p_min']
)

df_Units['UnitID'] = df_Units['id'].astype(int)
df_Units['name'] = pd.NA
df_Units['type'] = pd.NA
df_Units['Bus name'] = df_Units['bus_id'].astype(int)

df_Units['x'] = pd.NA
df_Units['y'] = pd.NA
df_Units['Technology'] = pd.NA
df_Units['Cost'] = pd.NA
df_Units['capacity'] = df_Units['p_max']

df_Units.to_csv('./Case14/Units.csv', index=False)
df_Units

,id,bus_id,mc_a,mc_b,mc_c,p_max,p_min,UnitID,name,type,Bus name,x,y,Technology,Cost,capacity
0,1.0,1.0,0.0,0.086059,20.0,332.4,0.0,1,<NA>,<NA>,1,<NA>,<NA>,<NA>,<NA>,332.4
1,2.0,2.0,0.0,0.500000,20.0,140.0,0.0,2,<NA>,<NA>,2,<NA>,<NA>,<NA>,<NA>,140.0
2,3.0,3.0,0.0,0.020000,40.0,100.0,0.0,3,<NA>,<NA>,3,<NA>,<NA>,<NA>,<NA>,100.0
3,4.0,6.0,0.0,0.020000,40.0,100.0,0.0,4,<NA>,<NA>,6,<NA>,<NA>,<NA>,<NA>,100.0
4,5.0,8.0,0.0,0.020000,40.0,100.0,0.0,5,<NA>,<NA>,8,<NA>,<NA>,<NA>,<NA>,100.0

In [4]:
df_Lines = pd.DataFrame(
    [[1.0, 1.0, 2.0, 0.05917, 0.0, 0.0],
     [2.0, 1.0, 5.0, 0.22304, 0.0, 0.0],
     [3.0, 2.0, 3.0, 0.19797, 0.0, 0.0],
     [4.0, 2.0, 4.0, 0.17632, 0.0, 0.0],
     [5.0, 2.0, 5.0, 0.17388, 0.0, 0.0],
     [6.0, 3.0, 4.0, 0.17103, 0.0, 0.0],
     [7.0, 4.0, 5.0, 0.04211, 0.0, 0.0],
     [8.0, 4.0, 7.0, 0.20912, 0.0, 0.0],
     [9.0, 4.0, 9.0, 0.55618, 0.0, 0.0],
     [10.0, 5.0, 6.0, 0.25202, 0.0, 0.0],
     [11.0, 6.0, 11.0, 0.1989, 0.0, 0.0],
     [12.0, 6.0, 12.0, 0.25581, 0.0, 0.0],
     [13.0, 6.0, 13.0, 0.13027, 0.0, 0.0],
     [14.0, 7.0, 8.0, 0.17615, 0.0, 0.0],
     [15.0, 7.0, 9.0, 0.11001, 0.0, 0.0],
     [16.0, 9.0, 10.0, 0.0845, 0.0, 0.0],
     [17.0, 9.0, 14.0, 0.27038, 0.0, 0.0],
     [18.0, 10.0, 11.0, 0.19207, 0.0, 0.0],
     [19.0, 12.0, 13.0, 0.19988, 0.0, 0.0],
     [20.0, 13.0, 14.0, 0.34802, 0.0, 0.0]],
    columns=['id', 'from', 'to', 'x', 'floor', 'cap']
)

df_Lines['LineID'] = df_Lines['id'].astype(int)
df_Lines['bus0'] = df_Lines['from'].astype(int)
df_Lines['bus1'] = df_Lines['to'].astype(int)
df_Lines['voltage'] = pd.NA
df_Lines['s_nom'] = df_Lines['cap']
df_Lines['r'] = pd.NA
df_Lines['x'] = df_Lines['x']
df_Lines['b'] = pd.NA
df_Lines['length'] = pd.NA
df_Lines['under_construction'] = pd.NA

df_Lines.to_csv('./Case14/Lines.csv', index=False)
df_Lines

,id,from,to,x,floor,cap,LineID,bus0,bus1,voltage,s_nom,r,b,length,under_construction
0,1.0,1.0,2.0,0.05917,0.0,0.0,1,1,2,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
1,2.0,1.0,5.0,0.22304,0.0,0.0,2,1,5,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
2,3.0,2.0,3.0,0.19797,0.0,0.0,3,2,3,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
3,4.0,2.0,4.0,0.17632,0.0,0.0,4,2,4,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
4,5.0,2.0,5.0,0.17388,0.0,0.0,5,2,5,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
5,6.0,3.0,4.0,0.17103,0.0,0.0,6,3,4,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
6,7.0,4.0,5.0,0.04211,0.0,0.0,7,4,5,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
7,8.0,4.0,7.0,0.20912,0.0,0.0,8,4,7,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
8,9.0,4.0,9.0,0.55618,0.0,0.0,9,4,9,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
9,10.0,5.0,6.0,0.25202,0.0,0.0,10,5,6,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
10,11.0,6.0,11.0,0.19890,0.0,0.0,11,6,11,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
11,12.0,6.0,12.0,0.25581,0.0,0.0,12,6,12,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
12,13.0,6.0,13.0,0.13027,0.0,0.0,13,6,13,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
13,14.0,7.0,8.0,0.17615,0.0,0.0,14,7,8,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
14,15.0,7.0,9.0,0.11001,0.0,0.0,15,7,9,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
15,16.0,9.0,10.0,0.08450,0.0,0.0,16,9,10,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
16,17.0,9.0,14.0,0.27038,0.0,0.0,17,9,14,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
17,18.0,10.0,11.0,0.19207,0.0,0.0,18,10,11,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
18,19.0,12.0,13.0,0.19988,0.0,0.0,19,12,13,<NA>,0.0,<NA>,<NA>,<NA>,<NA>
19,20.0,13.0,14.0,0.34802,0.0,0.0,20,13,14,<NA>,0.0,<NA>,<NA>,<NA>,<NA>

In [5]:
df_Loads = pd.DataFrame(
    [[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0],
     [2.0, 2.0, 0.0, 0.0, 0.0, 21.7, 21.7],
     [3.0, 3.0, 0.0, 0.0, 0.0, 94.2, 94.2],
     [4.0, 4.0, 0.0, 0.0, 0.0, 47.8, 47.8],
     [5.0, 5.0, 0.0, 0.0, 0.0, 7.6, 7.6],
     [6.0, 6.0, 0.0, 0.0, 0.0, 11.2, 11.2],
     [7.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0],
     [8.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0],
     [9.0, 9.0, 0.0, 0.0, 0.0, 29.5, 29.5],
     [10.0, 10.0, 0.0, 0.0, 0.0, 9.0, 9.0],
     [11.0, 11.0, 0.0, 0.0, 0.0, 3.5, 3.5],
     [12.0, 12.0, 0.0, 0.0, 0.0, 6.1, 6.1],
     [13.0, 13.0, 0.0, 0.0, 0.0, 13.5, 13.5],
     [14.0, 14.0, 0.0, 0.0, 0.0, 14.9, 14.9]],
    columns=['id', 'bus_id', 'mc_a', 'mc_b', 'mc_c', 'd_max', 'd_min']
)

df_Loads['LoadID'] = df_Loads['id'].astype(int)
df_Loads['Bus name'] = df_Loads['bus_id'].astype(int)
df_Loads['load_weight'] = df_Loads['d_max']/ df_Loads['d_max'].sum()
df_Loads.to_csv('./Case14/Loads.csv', index=False)
df_Loads

,id,bus_id,mc_a,mc_b,mc_c,d_max,d_min,LoadID,Bus name,load_weight
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1,0.000000
1,2.0,2.0,0.0,0.0,0.0,21.7,21.7,2,2,0.083784
2,3.0,3.0,0.0,0.0,0.0,94.2,94.2,3,3,0.363707
3,4.0,4.0,0.0,0.0,0.0,47.8,47.8,4,4,0.184556
4,5.0,5.0,0.0,0.0,0.0,7.6,7.6,5,5,0.029344
5,6.0,6.0,0.0,0.0,0.0,11.2,11.2,6,6,0.043243
6,7.0,7.0,0.0,0.0,0.0,0.0,0.0,7,7,0.000000
7,8.0,8.0,0.0,0.0,0.0,0.0,0.0,8,8,0.000000
8,9.0,9.0,0.0,0.0,0.0,29.5,29.5,9,9,0.113900
9,10.0,10.0,0.0,0.0,0.0,9.0,9.0,10,10,0.034749
10,11.0,11.0,0.0,0.0,0.0,3.5,3.5,11,11,0.013514
11,12.0,12.0,0.0,0.0,0.0,6.1,6.1,12,12,0.023552
12,13.0,13.0,0.0,0.0,0.0,13.5,13.5,13,13,0.052124
13,14.0,14.0,0.0,0.0,0.0,14.9,14.9,14,14,0.057529